{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block body %}
  <body>
  {#  <div class="center">#}
  <div class="loginmodal-container center">
    <h1>HEEBO.CHAT</h1><br>

    <form accept-charset="UTF-8" role="form"
          action="{% url 'login' %}?next={% url 'lobby' %}" method="post">
      <div>
        {{ form.username|add_class:'form-control' }}
        {{ form.username.errors }}
        {#        <input type="text" name="user" placeholder="Username">#}
      </div>
      <div>
        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </div>
      {{ form.non_field_errors }}
      {% csrf_token %}
    </form>

  </div>
  {#  </div>#}
  </body>
{% endblock %}